{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include './navigation/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">

  <br>
  <br>

  <div class="govuk-grid-column-two-thirds">


            {% include './name-bar/_bar-jose.html' %}

             {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
                                }) }}

              <br><br>

                 <h1 class="govuk-heading-l">
                  Confirm marital status</h1>

                  <p>Changing a marital status to <strong>Never been married or in a civil partnership</strong> will automatically delete the:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>partner's details</li>
                    <li>date of marriage</li>
                    <li>date of civil partnership</li>
                    <li>date of divorce</li>
                    <li>date they became widowed</li>
                    <li>date their civil partnership was dissolved</li>



                  </ul>
                <a href="change-personal-details" role="button" draggable="false" button class="govuk-button govuk-button--warning" data-module="govuk-button">
                  Confirm marital status and delete details
                </a>


                  </div>
                  </div>


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        <b>URL, errors and notes</b>
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>URL:</b> /confirm-marital-status <br>
        <b>Error messages:</b> None  <br>
        <b>Notes:</b> None <br>
      </div>
    </details>

  </div>

  </div>
</div>

{% endblock %}
