{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar-dead-rooney.html' %}


            </div>
          </div>
        </main>



        {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
        <br><br>

    <form action="check-dap-details-send-br330-changed" method="post">

      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
            Select an address
              </h1>
            </legend>

        <br>
            <p>1 address found for <b>45</b> and <b>SE15 6LD</b> <a href="#" class="govuk-link govuk-link--no-visited-state">Change</a></p>
        <br>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                45 West Street, London, SE15 6LD
                </label>
              </div>

              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
                  Address not found
                </label>
              </div>
            </div>
          </fieldset>
        </div>



            <button type="submit" class="govuk-button" href="dap-details">
        Confirm    </button>


            </form>
            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            <b>URL, errors and notes</b>
            </span>
            </summary>
            <div class="govuk-details__text">
              <b>URL:</b> Use existing URL <br><br>

              <b>Error messages:</b>
              <br>Use existing error message
              <br>
              <b>Nothing selected -</b> Select an address from the list<br><br>


              <b>Notes:</b>

            </div>
            </details>
          </div>

        </div>
        </form>
      </div>

    </div>

  </main>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
