<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Pension Credit</h2>
    <a href="change-bank" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Change</span>
    </a>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account holder
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.pcaccountname %}
          {{data.pcaccountname}}
          {% else %}
          Miss C Mudd
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.pcsortcode %}
          {{data.pcsortcode}}
          {% else %}
          54 76 98
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.pcaccountnumber %}
          {{data.pcaccountnumber}}
          {% else %}
        98765409
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      {% if data.pcrollnumber %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Building society roll or reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.pcrollnumber}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      {% else %}
      {% endif %}
    </dl>

  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">State Pension</h2>
    <a href="change-bank" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Change</span>
    </a>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account holder
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.spaccountname %}
          {{data.spaccountname}}
          {% else %}
        Miss Mudd
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.spsortcode %}
          {{data.spsortcode}}
          {% else %}
        14 90 92
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data.spaccountnumber %}
          {{data.spaccountnumber}}
          {% else %}
        11291721
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      {% if data.sprollnumber %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Building society roll or reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.sprollnumber}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      {% else %}
      {% endif %}
    </dl>

  </div>
</div>
