<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Pension Credit</h2>
    <a href="change-bank" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Change</span>
    </a>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account holder
        </dt>
        <dd class="govuk-summary-list__value">
          Miss C Mudd
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
            54 76 98
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
            98765409
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">State Pension</h2>
    <a href="change-bank" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Change</span>
    </a>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account holder
        </dt>
        <dd class="govuk-summary-list__value">
          Miss Mudd
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
            14 90 92
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
            11291721
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"></span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>
