{% extends "layouts/main.html" %}

{% block pageTitle %}
  Award – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
  <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
      <a
        href="find-someone">
        Find someone
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a href="tasks">
        Tasks
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a href="telephone-claim">
        Telephone claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a href="paper-claim">
        Paper claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="admin">
        Admin
      </a>
    </li>
  </ul>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
    Charlotte Mudd<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison and Pension Credit
      </strong>
      </h1>

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="personal">Personal</a>
            </li>
          <li>
            <a href="contact">Contact</a>
          </li>

          <li>
            <a href="award" class="active" aria-current="page">Award</a>
          </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="history">Full history</a>
            </li>
        </ul>
      </nav>


<br><br>

        <h2 class="govuk-heading-m">Award details</h2>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Pension Credit</h2>
            <a href="" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Review Pension Credit award</span>
            </a>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 From
                </dt>
                <dd class="govuk-summary-list__value">
                  10 April 2024
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason
                </dt>
                <dd class="govuk-summary-list__value">
                  Uprating
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"></span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Total
                </dt>
                <dd class="govuk-summary-list__value">
                  <B>£93.47</b>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>

          <div class="govuk-summary-card__content">

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Components
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                Guarantee Credit
                </dt>
                <dd class="govuk-summary-list__value">
                  £218.15
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Total
                </dt>
                <dd class="govuk-summary-list__value">
              £218.15
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>

            </dl>
            </div>

            <div class="govuk-summary-card__content">

              <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Deductions
                  </dt>
                  <dd class="govuk-summary-list__value">
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      <span class="govuk-visually-hidden"> </span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                  State Pension
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £124.68
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      <span class="govuk-visually-hidden"> </span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                  Other income
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £0.00
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      <span class="govuk-visually-hidden"> </span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Total deductions
                  </dt>
                  <dd class="govuk-summary-list__value">
                  £124.68
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      <span class="govuk-visually-hidden"> </span>
                    </a>
                  </dd>
                </div>

              </dl>

<br>
            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state">Previous awards</a>
            </p>


          </div>
        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">State Pension</h2>
            <a href="" <span class="govuk-link govuk-!-font-size-19" style="margin-left: 30%">Review State Pension award</span>
            </a>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 From
                </dt>
                <dd class="govuk-summary-list__value">
                  10 April 2024
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> whether details are known</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason
                </dt>
                <dd class="govuk-summary-list__value">
                  Uprating
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> relationship to lead tenant</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Total
                </dt>
                <dd class="govuk-summary-list__value">
                  <B>£124.68</b>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>

            </dl>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                New State Pension
                </dt>
                <dd class="govuk-summary-list__value">
                  £124.68
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Protected payment
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Extra State Pension
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Inherited extra State Pension
                </dt>
                <dd class="govuk-summary-list__value">
                  £0.00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
            </dl>

<br>
            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state">Previous awards</a>
            </p>


          </div>
        </div>



    </div>

    <div class="govuk-grid-column-one-third">

      <div class="dwp-timeline">
      <h1 class="govuk-heading-m">Action history</h1>
      <ol class="dwp-timeline__events">
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">11 August 2023</p>
        <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
      </li>
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
        <p class="govuk-caption-m">10 August 2023</p>
        <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
      </li>
      <li class="dwp-timeline__events--entry">
      <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
      </li>
      </ol>
      </div>

    </div>



  </div>

{% endblock %}
