{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank details {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


    <form method="post" action="bank-name">

      <h2 class="govuk-heading-l">Bank or building society account details</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="pc-account-name">
          Account holder name
        </label>
        <input class="govuk-input" id="pc-account-name" name="pc-account-name" type="text" spellcheck="false">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="pc-sort-code">
          Sort code
        </label>
        <input class="govuk-input govuk-input--width-5" id="pc-sort-code" name="pc-sort-code" type="text" aria-describedby="pc-sort-code-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="pc-account-number">
          Account number
        </label>
        <input class="govuk-input govuk-input--width-10" id="pc-account-number" name="pc-account-number" type="text" aria-describedby="pc-account-number-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="pc-roll-number">
          Building society roll or reference number
        </label>
        <input class="govuk-input govuk-input--width-10" id="pc-roll-number" name="pc-roll-number" type="text" aria-describedby="pc-roll-number-hint" spellcheck="false">
      </div>



<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>


    </div>





  </div>

{% endblock %}
