{% extends "layouts/main.html" %}

{% block pageTitle %}
  Overseas bank – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


      <h2 class="govuk-heading-l">Select the location of the new account</h2>

    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bankukoverseas" name="bankukoverseas" type="radio" value="uk">
              <label class="govuk-label govuk-radios__label" for="bankukoverseas">
                UK bank or building society account
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bankukoverseas-2" name="bankukoverseas" type="radio" value="overseas">
              <label class="govuk-label govuk-radios__label" for="bankukoverseas-2">
                Overseas bank account
              </label>
            </div>
          </div>
        </fieldset>
      </div>




<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>


    </div>



›

  </div>

{% endblock %}
