{% extends "layouts/main.html" %}

{% block pageTitle %}
  Email address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}


      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<span class="govuk-caption-l">State Pension</span>
      <h2 class="govuk-heading-l">How often do they want to get paid?</h2>

    <form method="post" action="payment">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spfrequency" name="spfrequency" type="radio" value="weekly">
              <label class="govuk-label govuk-radios__label" for="spfrequency">
                Every week
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spfrequency-2" name="spfrequency" type="radio" value="2weeks">
              <label class="govuk-label govuk-radios__label" for="spfrequency-2">
                Every 2 weeks
              </label>
            </div>
             <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spfrequency-2" name="spfrequency" type="radio" value="4weeks">
              <label class="govuk-label govuk-radios__label" for="spfrequency-2">
              Keep payments every 4 weeks
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save
      </button>

    </form>

    </div>





  </div>

{% endblock %}
