{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="personal">Personal</a>
            </li>
          <li>
            <a href="contact" class="active" aria-current="page">Contact</a>
          </li>

          <li>
            <a href="award">Award</a>
          </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="history">Full history</a>
            </li>
        </ul>
      </nav>


<br><br>

        <h2 class="govuk-heading-m">Contact details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      12 Park Place<br>
      Carron<br>
      AB38 6HB
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Correspondence address
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-correspondence">
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Home phone number
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['homephone-remove'] === 'yes' %}
      {% elseif data.homephone %}
      {{data.homephone}}
      {% else %}
      01632 960005
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-home-phone">
        {% if data['homephone-remove'] === 'yes' %}
        Add
        {% else %}
        Change
        {% endif %}
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Work phone number
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['workphone-remove'] === 'yes' %}
      {% elseif data.workphone %}
      {{data.workphone}}
      {% else %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-work-phone">
        {% if data['workphone-remove'] === 'yes' %}
        Add
        {% elseif data.workphone %}
        Change
        {% else %}
        Add
        {% endif %}
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Mobile phone number
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['mobilephone-remove'] === 'yes' %}
      {% elseif data.mobilephone %}
      {{data.mobilephone}}
      {% else %}
      07064023020
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-mobile-phone">
        {% if data['mobilephone-remove'] === 'yes' %}
        Add
        {% else %}
        Change
        {% endif %}
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
  Email address
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['email-remove'] === 'yes' %}
      {% elseif data.email %}
      {{data.email}}
      {% else %}
      mudd1958@hotmail.com
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-email">
        {% if data['email-remove'] === 'yes' %}
        Add
        {% else %}
        Change
        {% endif %}
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
  Alternative format for letters
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['alt-format-remove'] === 'Yes' %}
      {% elseif data['altformat'] === 'none' %}
      {% elseif data.altformat %}
      {{data.altformat}}
      {% else %}

      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-alt-format">
        {% if data['altformat-remove'] === 'yes' %}
        Add
        {% elseif data['altformat'] === 'none' %}
        Add
        {% elseif data.altformat %}
        Change
        {% else %}
        Add
        {% endif %}
        <span class="govuk-visually-hidden"> </span></a>
    </dd>
  </div>

</dl>






    </div>


        <div class="govuk-grid-column-one-third">

          <div class="dwp-timeline">
          <h1 class="govuk-heading-m">Contact changes</h1>
          <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">11 August 2023</p>
            <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
            <p class="govuk-caption-m">10 August 2023</p>
            <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
          <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
          </li>
          </ol>
          </div>

        </div>


  </div>

{% endblock %}
