{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
  <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
      <a
        href="find-someone">
        Find someone
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="tasks">
        Tasks
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="telephone-claim">
        Telephone claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="paper-claim">
        Paper claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="admin">
        Admin
      </a>
    </li>
  </ul>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
    Charlotte Mudd<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison and Pension Credit
      </strong>
      </h1>

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="personal">Personal</a>
            </li>
          <li>
            <a href="contact" >Contact</a>
          </li>

          <li>
            <a href="award">Award</a>
          </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="history" class="active" aria-current="page">Full history</a>
            </li>
        </ul>
      </nav>


<br><br>







    </div>




  </div>

{% endblock %}
