{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank account name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


    <form method="post" action="payment">


      <span class="govuk-caption-l">State Pension</span>
<h1 class="govuk-heading-l">Payment details</h1>

      <div class="govuk-form-group">


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <tr class="govuk-table__row">
            <tr class="govuk-table__row" style="width: 20%"></tr>
            <th class="govuk-table__header" scope="col" style="width: 43%">Total</th>
            <th class="govuk-table__header" scope="col">£498.72</th>
            <th class="govuk-table__header" scope="col"></th>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Period</td>
              <td class="govuk-table__cell">19 May 2024 to 15 June 2024</td>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">Status</td>
              <td class="govuk-table__cell">Returned</td>
              <td class="govuk-table__cell"> <a href=#>Reissue payment</a>
              </td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Account the payment was sent to</h2>
        <dl class="app-check-your-answers app-check-your-answers--short">
            <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row" style="width: 43%">Account holder </td>
                  <td class="govuk-table__cell">Mr K Adams</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Account number</td>
                    <td class="govuk-table__cell">98765409</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Sort code</td>
                      <td class="govuk-table__cell">54 76 98</td>
                    </tr>
              </tbody>
            </table>








    </div>





  </div>

  <div class="govuk-grid-column-one-third">

  <div class="dwp-timeline">
  <h1 class="govuk-heading-m">Status changes</h1>
  <ol class="dwp-timeline__events">
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Returned</h2>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">18 June 2024</p>
  </li>
  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Sent</h2>
    <p class="govuk-caption-m">	17 June 2024</p>
  </li>
  </ol>
  </div>

</div>

{% endblock %}
