{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
  <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
      <a
        href="find-someone">
        Find someone
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="tasks">
        Tasks
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="telephone-claim">
        Telephone claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="paper-claim">
        Paper claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="admin">
        Admin
      </a>
    </li>
  </ul>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
    Charlotte Mudd<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison and Pension Credit
      </strong>
      </h1>

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="personal" class="active" aria-current="page">Personal</a>
            </li>
          <li>
            <a href="contact">Contact</a>
          </li>

          <li>
            <a href="award">Award</a>
          </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="history">Full history</a>
            </li>
        </ul>
      </nav>


<br><br>

        <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
    Charlotte Mudd
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      XX 12 34 56
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> customer reference</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      5 January 1958
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      State Pension date
    </dt>
    <dd class="govuk-summary-list__value">
       5 January 2024
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Marital status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Never been married</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> contact details</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Lived or worked abroad
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden">No</span></a>
    </dd>
  </div>
</dl>


    </div>


    <div class="govuk-grid-column-one-third">

    <div class="dwp-timeline">
    <h1 class="govuk-heading-m">Action history</h1>
    <ol class="dwp-timeline__events">
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Pension Credit claim received</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Online</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">12 Janurary 2024</p>
      <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension claim received</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Online</p>
      <p class="govuk-caption-m">7 November 2023</p>
    </li>
    <li class="dwp-timeline__events--entry">
    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
    </li>
    </ol>
    </div>

    </div>



  </div>

{% endblock %}
