{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="personal" class="active" aria-current="page">Personal</a>
            </li>
          <li>
            <a href="contact">Contact</a>
          </li>

          <li>
            <a href="award">Award</a>
          </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="history">Full history</a>
            </li>
        </ul>
      </nav>


<br><br>

<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-visually-hidden">Warning</span>
{% if data['suspension'] === 'pc' %}
  Pension Credit
{% elseif data['suspension'] === 'sp' %}
State Penison
{% else %}
  Pension Credit and State Pension
{% endif %}
payments have been suspended pending investigation.
{% if data['suspension'] === 'pc' %}
  <a href="restart-pc" class="govuk-link govuk-link--no-visited-state">Restart Pension Credit payments.</a>
{% elseif data['suspension'] === 'sp' %}
  <a href="restart-sp" class="govuk-link govuk-link--no-visited-state">Restart State Pension payments.</a>
{% else %}
  <a href="restart" class="govuk-link govuk-link--no-visited-state">Restart payments.</a>
{% endif %}

</strong>
</div>


        <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
    Charlotte Mudd
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      XX 12 34 56
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> customer reference</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      5 January 1958
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      State Pension date
    </dt>
    <dd class="govuk-summary-list__value">
       5 January 2024
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Marital status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Never been married</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> contact details</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Lived or worked abroad
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden">No</span></a>
    </dd>
  </div>
</dl>




    </div>


    <div class="govuk-grid-column-one-third">

    <div class="dwp-timeline">
    <h1 class="govuk-heading-m">Action history</h1>
    <ol class="dwp-timeline__events">


      {% if data['suspension'] === 'pc' %}
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Pension Credit suspended pending investigation</h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">1 July 2024</p>
        <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state"></a></p>
      </li>
      {% elseif data['suspension'] === 'sp' %}
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension suspended pending investigation</h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">1 July 2024</p>
        <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state"></a></p>
      </li>
      {% else %}
      <li class="dwp-timeline__events--entry">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Pension Credit and State Pension suspended pending investigation</h2>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
        <p class="govuk-caption-m govuk-!-margin-bottom-1">1 July 2024</p>
        <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state"></a></p>
      </li>
      {% endif %}




    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Pension Credit claim received</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Online</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">12 Janurary 2024</p>
      <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension claim received</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Online</p>
      <p class="govuk-caption-m">7 November 2023</p>
    </li>
    <li class="dwp-timeline__events--entry">
    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
    </li>
    </ol>
    </div>

    </div>



  </div>

{% endblock %}
