{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reason for stopping benefit – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


      <h2 class="govuk-heading-l">What is the reason?</h2>

    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stopbenefit" name="stopbenefit" type="radio" value="death">
              <label class="govuk-label govuk-radios__label" for="stopbenefit">
              They have died
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stopbenefit-2" name="stopbenefit" type="radio" value="prison">
              <label class="govuk-label govuk-radios__label" for="stopbenefit-2">
              They are in prison
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stopbenefit-2" name="stopbenefit" type="radio" value="suspension">
              <label class="govuk-label govuk-radios__label" for="stopbenefit-2">
              They are in custody awaiting trial (on remand)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="stopbenefit-3" name="stopbenefit" type="radio" value="suspension">
              <label class="govuk-label govuk-radios__label" for="stopbenefit-3">
                Something else
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>


    </div>





  </div>

{% endblock %}
