{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/header/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-column-two-thirds">

        <main id="content" role="main">
          <div class="grid-row">
            <div class="column-full">

              {% include 'includes/_bar-dead-rooney.html' %}


            </div>
          </div>
        </main>


<a href="personal-br330" class="govuk-back-link">Back</a>

    <div>
      <br>
      <h2 class="govuk-heading-l">Death arrears payee (DAP) details</h2>

      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">DAP name</th>
            <td class="govuk-table__cell">Jane Rooney</td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Reference number</th>
            <td class="govuk-table__cell"></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">DAP address</th>
            <td class="govuk-table__cell">45 West Street<br>London<br>SE15 6LD</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

      <br>


  </div>


</div>
</main>
</div>
<!-- </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"></div>
</div>

{% endblock %}
