<div class="dwp-timeline">
<h1 class="govuk-heading-m">Action history</h1>
<ol class="dwp-timeline__events">
<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">11 August 2023</p>
  <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
</li>
<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Event</h2>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
  <p class="govuk-caption-m">10 August 2023</p>
  <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
</li>
<li class="dwp-timeline__events--entry">
<p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
</li>
</ol>
</div>
