<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="#" class="dwp-header__link">Service name</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
  <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
      <a
        href="#">
        Find someone
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="#">
        Tasks
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="#">
        Telephone claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="#">
        Paper claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="#">
        Admin
      </a>
    </li>
  </ul>
</nav>
</div>
</header>
