{% extends "layouts/main.html" %}

{% block pageTitle %}
  Action history pattern – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
</div>
</header>

{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Action history</h1>


      <h2 class="govuk-heading-m">Timeline</h2>
      <p>The basic timeline events are used across the service, the timeline shown
        depends on what area of the service the agent is in. Personal, contact, award
        and payment all have individual timelines with events related to the information
        being shown. 
</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    How to use it
    </span>
  </summary>
  <div class="govuk-details__text">
<b>Title</b><br>
What has happened: taken from a standard list of events. Each title should have
only one event, for example: Date of death added, Date of death verified.
<br>
For usability titles should be between 3 and 8 words long, if you need to add
more context then use the 'Details' feature.
<br>
<br><b>Byline</b>
<br>
The byline tells a user whether the action was completed by an Agent, the System
or Online (by the claimant).
<br>
This is useful if more than one person can work on a case, or if your timeline
includes both agent actions and automated events.
<br>
<br><b>Description</b>
<br>
Not used in GySP. If this detail is needed then consider using the 'Details'
feature.
<br>
It is important for the usability of the timeline that events are simple and
consistent in their appearance.
<br>
<br><b>Details link</b>
<br>
An event can include a text link to more detailed information. This link does
not reveal content in the timeline itself; instead it takes the user to the
information in another page or interface.
<br>
This maintains the position of other timeline items and avoids overcrowding
the interface with additional detail.
<br>
You will need to use visually hidden text on the links so they are accessible.
<br>
<br><b>Date</b>
<br>
The date the action was completed.
</details>

      <h2 class="govuk-heading-m">Full history</h2>

      <p>A chronological view of all events since the State Pension was claimed
        using information from the timelines in the Personal, Contact, Award and
        Payment tabs.</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Future iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to consider how we can help users understand that a notification was
            sent off of the back of an action. In some tasks a separate 'X letter sent'
            event is created in the timeline.<br>
            <br>
            This view would allow agents to quickly see the notifications are. The plan
            is to then have a digital version of notifications for an agent to view.
        </details>


      <h2 class="govuk-heading-m">Event details</h2>

        <p>
            Timeline details links are used to get more information about a timeline event.
            The timeline shows an event and the day it was recorded on the system, in some
            cases events span over a period of time and there is a user need to be able to
            see these dates. There is also a need to be able to see more details about an
            event to gain a full understanding of what has happened, for example the fraud
            event shown. <br>
            <br>
            Some areas of the service have their own timeline relevant to the lower level
            of detail. Such as payment details and living and working abroad details.</p>

            <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with nationality
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
  </div>
</details>

      <h3 class="govuk-heading-s">The design</h3>

      <a href="record-navigation" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>



    </div>




  </div>

{% endblock %}
