{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison
      </strong>
      </h1>


              <form method="post">

                          <a href="" class="govuk-back-link">Back</a>
    <br><br>
                <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
              Select the location of the new account
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank" name="bank" type="radio" value="uk">
                    <label class="govuk-label govuk-radios__label" for="bank">
                    UK bank or building society account
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bank-2" name="bank" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="bank-2">
                      Overseas bank account
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        </div>




  </div>

{% endblock %}
