{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-xl">Name bar</h1>

            <h2 class="govuk-heading-s">When and where it is used</h2>

            <p class="govuk-body">Used on all citizen records as well as the second screen of finding a<br>
              record to confirm the citizen has located the correct citizen record <br>before entering</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>State Pension maintain</li>
              <li>Pension credit nil award</li>
            </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison
      </strong>
      </h1>

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag govuk-tag--orange">
        Task outstanding
      </strong>
      </h1>

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag govuk-tag--red">
        In prison
      </strong>
      </h1>

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag govuk-tag--grey">
        Dead
      </strong>
      </h1>




<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      State Pension status'
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>
    <strong class="govuk-tag">
    Blue tag
    </strong></p>

    <p class="govuk-body">Used when the State Pension is in payment</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Receiving State Pension </li>
    </ul>

    <p>
    <strong class="govuk-tag govuk-tag--orange">
    Orange tag
    </strong></p>

    <p class="govuk-body">Used when a task is outstanding preventing the State Pension being in payment</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Incomplete claim</li>
      <li>Claimant in prison </li>
      <li>Task outstanding </li>
      <li>State Pension suspended</li>
    </ul>

    <p>
    <strong class="govuk-tag govuk-tag--red">
    Red tag
    </strong></p>

    <p class="govuk-body">Used when State Pension payments have been stopped or a record has been removed</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Deferred</li>
      <li>Removed</li>
      <li>Payments stopped</li>
    </ul>

    <p><strong class="govuk-tag govuk-tag--grey">
    Grey tag
    </strong></p>

    <p class="govuk-body">Used when a citizen has died</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Dead</li>
    </ul>

  </div>
</details>

    </div>




  </div>

{% endblock %}
