{% extends "layouts/main.html" %}

{% block pageTitle %}
  Record design example – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>
  <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
      <a
        href="find-someone">
        Find someone
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="tasks">
        Tasks
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="telephone-claim">
        Telephone claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="paper-claim">
        Paper claim
      </a>
    </li>
    <li class="dwp-header-navigation__item">
      <a
        href="admin">
        Admin
      </a>
    </li>
  </ul>
</nav>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Elmer Cummings<br>
      <span class="govuk-caption-xl">XX 12 34 56</span>
      <strong class="govuk-tag">
        Receiving State Penison
      </strong>
      </h1>

      <nav class="navigation-secondary">
        <ul>

          <li>
              <a href="record-navigation" class="active" aria-current="page">Personal</a>
            </li>
          <li>
            <a href="">Contact</a>
          </li>

          <li>
            <a href="">Award</a>
          </li>
            <li>
              <a href="">Payment</a>
            </li>
            <li>
              <a href="full-history">Full history</a>
            </li>
        </ul>

      </nav>


    </div>


    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-l">Action history</h1>
<div class="dwp-timeline">
<ol class="dwp-timeline__items">
<li class="dwp-timeline__item">
  <h2 class="dwp-timeline__heading">Event</h2>
  <p class="dwp-timeline__datetime">11 August 2024</p>
  <p class="dwp-timeline__by-line">Agent/System/Online</p>
  <p class="dwp-timeline__datetime"><a href="action-history-details" class="govuk-link govuk-link--no-visited-state">Details</a></p>
</li>
<li class="dwp-timeline__item">
  <h2 class="dwp-timeline__heading">Event</h2>
  <p class="dwp-timeline__datetime">11 August 2024</p>
  <p class="dwp-timeline__by-line">Agent/System/Online</p>
  <p class="dwp-timeline__datetime"><a href="action-history-details" class="govuk-link govuk-link--no-visited-state">Details</a></p>
</li>
<li class="dwp-timeline__item">
  <h2 class="dwp-timeline__heading"><a href="full-history" class="govuk-link govuk-link--no-visited-state">Full history</a></h2>
</li>
</ol>
</div>



    </div>



  </div>

{% endblock %}
