{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
</div>
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Timeline
      </h1>

      <h2 class="govuk-heading-s">When and where it is used</h2>

      <p class="govuk-body">

      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>State Pension maintain</li>
      </ul>


      <h3 class="govuk-heading-s">The design</h3>

      <p class="govuk-body">
    <a href="#" class="govuk-link govuk-link--no-visited-state">DWP design system</a>
  </p>

      <h4 class="govuk-heading-s">Research and insights</h4>



    </div>





  </div>

{% endblock %}
