{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'widows/iteration-3/_bar.html' %}

  {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}

    <br><br>

    <h1 class="govuk-heading-l">Award without inherited amounts</h1>
  <p>So this claimant does not miss out on their own State Pension, we will start their payments without any inherited amounts.</p>


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 50%" >From</th>
        <td class="govuk-table__cell" style="width: 50%">11 March 2025</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Reason</th>
        <td class="govuk-table__cell">First award</td>
        <td class="govuk-table__cell"></td>
      </tr>
      </table>

                  <table class="govuk-table">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total</th>
        <td class="govuk-table__cell" style="width: 50%">	<b>£224.65 a week</b></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">New State Pension</td>
        <td class="govuk-table__cell">£221.20</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Protected payment </td>
          <td class="govuk-table__cell">	£3.45</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
            </a></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Extra State Pension </td>
            <td class="govuk-table__cell">	£0.00</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="marital-details">
              </a></td>
          </tr>

  </table>

<div class="govuk-inset-text">
  This will automatically send an award letter to the claimant.
</div>

<br>
    <a href="get-a-task-2" button type="submit" class="govuk-button">
Confirm and send letter</a>


    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    <b>URL, errors and notes</b>
    </span>
    </summary>
    <div class="govuk-details__text">
    <b>URL:</b> <br><br>


    <b>Error messages:<br>

    </div>
    </details>

  </div>



</div>

</div>

</main>
</div>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
